.cart-content {
    font-family: 'Inria Serif';
    background-color: '#EDEBEB';
    width: '100vw';
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.mt-100{
   margin-top:100px;
   font-family: 'Inria Serif';
}

.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card .card-body {
    padding: 30px;
    background-color: transparent;
}