@import url('https://fonts.googleapis.com/css?family=Imperial+Script');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif');

/* .footer-container {
    position: relative;
    width: 100%;
    bottom: 0;
    background: #000000;
} */

/* .first-section-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    left: 15.82%;
    right: 65.72%;
    top: 20.41%;
    bottom: 16.03%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo1 {
    position: absolute;
    left: 29.17%;
    right: 29.17%;
    top: 16.67%;
    bottom: 16.67%;
    color: #938484;
    font-family: 'Imperial Script';
    font-size: 70px;
}

.logo2 {
    position: absolute;
    left: 31.17%;
    right: 20.83%;
    top: 16.67%;
    bottom: 16.67%;
    color: #938484;
    font-family: 'Imperial Script';
    font-size: 70px;
}

.brand-name-footer {
    height: 31px;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
} */

.footer {
    width: 100%;
}