@import url('https://fonts.googleapis.com/css?family=Imperial+Script');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif');

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    background-color: white;
}

.product-details-container {
    position: relative;
    height: 100%;
    background-color: white !important;
}

.product-images {
    position: absolute;
    top: 20px;
    left: 300px;
}

.productdetails1 {
    position: absolute;
    float: left;
    width: calc(760px * 0.7);
    height: calc(800px * 0.7);
}

.productdetails2 {
    position: absolute;
    float: left;
    width: calc(472px * 0.7);
    height: calc(329px * 0.7);
    top: 55px;
    left: 600px;
}

.productdetails3 {
    position: absolute;
    float: left;
    width: calc(452px * 0.7);
    height: calc(226px * 0.7);
    top: 400px;
    left: 600px;
}

.productdetails4 {
    position: absolute;
    float: left;
    width: calc(5415px * 0.3);
    height: calc(1300px * 0.3);
    right: -1255px;
    top: 600px;
}

.productdetails5 {
    position: absolute;
    float: left;
    width: calc(1895px * 0.8);
    height: calc(516.2px * 0.8);
    top: 989px;
    right: -1218px;
}

.productdetails5:hover {
    cursor: pointer;
}

.addtocart {
    position: absolute;
    float: left;
    width: calc(451px * 0.7);
    height: calc(80.2px * 0.7);
    top: 320px;
    left: 600px;
}

.addtocart:hover {
    cursor: pointer;
}

.product-footer {
    margin-top: 700px;
    width: 100%;
}